body{
    background-color:  lightskyblue;
}
.rurle{
    padding: 2%;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: large;
    border: black 1px dotted;
    background-color: lightcoral;
}
.center{
    text-align: center;
}